{% extends "layout.html" %}

{% block title %}
    User Login
{% endblock title %}

{% block content %}
    <h2>User Authentication</h2>
    <form class='form-with-validation' action={% url "users:login" %} method="post">
        {% csrf_token %}
        {{ form }}
            {% if request.GET.next %}
            <input type="hidden" name='next' value="{{ request.GET.next }}">
            {% endif %}
        
        <button class='form-submit'>
            submit
        </button>
    </form>
{% endblock content %}