<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static "/js/main.js" %}" defer></script>
    <title>
        {% block title %}
        Webapp
        {% endblock title %}
    </title>
</head>
<body>
    <nav> 
        <a href="{% url "home" %}">
          <span role="img" arial-label='Home' title= 'Home'>🏚️</span>  
        </a>  |
        <a href="{% url "about" %}">
            <span role="img" arial-label='about' title='about'>🕵️
            </span>
            </a> |
        <a href="{% url "posts:list" %}">
           <span role="img" arial-label='blog' title='blog'>📰</span>
        </a> |
        <a href="{% url "users:register" %}">
           <span role="img" arial-label='user-register' title='user-register'>📑</span>
        </a>
    </nav>
    {% block content %}    
    {% endblock content %}
</body>
</html>